nav {
  text-align: left;
}
nav ul {
  list-style: none
}

nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li a:hover {
  color: deepskyblue;
}

#info {
  background-color: lightgreen;
}
