@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// body {
//   font-family: 'Open-Sans', sans-serif;
// }

.container {
  max-width: 960px;
  margin: 0 auto;
}

.title {
  background: deepskyblue;
  color: white;
  h2 {
      padding: 4px;
  }
}

.about {

    background: aliceblue;
    padding: 1px 5px;
    p {
      margin-top: 10px;
      margin-left: 10px;
    }
}

.info {
    background: greenyellow;
}


/*NAV*/
nav {
  li {
    padding: 15px 15px 15px 0px;

    a {
      color: black;
      text-decoration: none;
      padding: 15px 15px 15px 10px;
    }

    a:hover {
      background-color: cornflowerblue;
      cursor: pointer;
      color: black;
    }
  }
}

// --------------------------------
// Credentials
// --------------------------------
.LoginView {
  margin-top: 15px;
}

.BeerView {
  margin-top: 15px;
}
// --------------------------------
// Hockey
// --------------------------------

.HockeyDataView {
  margin-top: 15px;
}
